<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MICROBLOG JZ - Home</title>

    
    <link href="static/bootstrap.min.css" rel="stylesheet">


    <link href="static/blog-home.css" rel="stylesheet">

   
</head>

<body>

   
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Blog</a>
            </div>
           
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
               
                    <li>
                        <a href="/logout">Logout</a>    
                    </li>
                </ul>
            </div>
    
        </div>
      
    </nav>

    
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Posts Publicados
                    
                </h1>

             
                {% if posts %}
                
                    {% for s in posts %}
                         <h2>
                            <a href="#">{{ s.name }}</a>
                        </h2>
                        <p class="lead">
                        by <a href="index.php">{{ s.author }}</a>
                        </p>
                        <p><span class="glyphicon glyphicon-time"></span> {{ now }}</p>
                        <hr>
                        <img class="img-responsive" src="{{ s.imagen }}" alt="">
                        <hr>
                        <p>{{ s.desc }}</p>
                        

                        <hr>

                    {% endfor %}    
                
               
                {% endif %}
                
                 

                <hr>


                <!-- Pager -->
                <ul class="pager">
                    <strong>{{ inicio }}</strong>
                </ul>

            </div>

         
            <div class="col-md-4">

              
                <div class="well">
                     <div class="well">
                    <h4>Buscar Post</h4>
                    <div class="input-group">
                       <form action="/search_post" method="GET">
                        <input type="text" name="search" placeholder="Introduzca el nombre del post que desea buscar."><br>
                        <input type="submit" value="Buscar">
                    </form>
                        
                    </div>
              
                </div>
            
                </div>

                 <div class="well">
                    <h4>Borrar Post</h4>
                    <form action="/delete_post" method="GET">
                    <input type="text" name="delete" placeholder="Introduzca el nombre del post que desea eliminar."><br>
                    <input type="submit" value="Borrar">
                    </form>
                </div>
                     

               
                <div class="well">
                    <h3>Nuevo Post</h3>
                    <form action="/insert_post">
                        Nombre del Post:<br>
                    <input type="text" name="post_name" placeholder="Nombre del post."><br>
                        Autor:<br>
                    <input type="text" name="author_name" placeholder="Nombre del autor."><br>
                        Descripcion:<br>
                    <textarea rows="4" name="descripcion" placeholder="Introduzca la descripcion del post."></textarea><br>
                      Imagen:<br>
                    <input type="text" name="imagen" placeholder="Introduzca la URL de la imagen."><br>
                    <input type="submit" value="Submit">
                </form>
                </div>

            </div>

        </div>
       

        <hr>


        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright; Microblog Julen 2017</p>
                </div>
         
            </div>
         
        </footer>

    </div>


 
    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>

</body>

</html>

