<!DOCTYPE html>
<html>
<head>
	<title>Microblog-Login</title>
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/estilo.css">
</head>
<body>
	<div class="container">
		<h1>Login</h1>
		<br>
		<form action="" method="post">
			<input type="text" name="username" placeholder="Nombre de usuario" value="{{ request.form.username }}">
				<input type="password" name="password" placeholder="Contraseña" value="{{ request.form.password }}">
			<input class="submit-btn" type="submit" name="submit" value="Login" >
		</form>
		{% if error %}
			<p class="error"><strong>Error:</strong>{{ error }} </p>
		{% endif %}
		{% if flash %}
			<p class="error2"><strong>{{ flash }}</strong></p>
		{% endif %}


	</div>
</body>
</html>
